.container {
    width: 100%;
    height: 100vh;

    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 32px;
}

.video {
    width: 100%;
}

.content {
    z-index: 2;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 24px;
}

.title {
    font-size: 72px;
}

.subtitle {
    font-size: 36px;
    color: rgb(255 255 255 / 0.5);
}

.actions {
    display: flex;
}
