.container,
.real,
.video {
    width: 100%;
}

.reverse {
    flex-direction: row-reverse;
}

.direct {
    flex-direction: row;
}

.buttons,
.real {
    justify-content: center;
    align-items: center;
}
