.container {
    width: 100%;
    min-height: 50vh;

    position: relative;
    overflow: hidden;
    align-items: center;
    // border-radius: 32px;
}

.video {
    width: 100%;
}

.content {
    z-index: 2;
    position: relative;
    height: 100%;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    padding: 24px;
}

.title {
    font-size: 72px;
}

.subtitle {
    font-size: 36px;
    color: rgb(255 255 255 / 0.5);
}

.try-zone {
    border: 1px solid rgb(255 255 255 / 0.5);
    padding: 12px;
    border-radius: 24px;
    align-items: center;
}
