.container {
    width: 100%;

    display: flex;
    flex-direction: row;
    padding: 8px;
    background: none;
    color: #fff;
    border: none;
    cursor: pointer;
}

.container:hover {
    background-color: rgb(255 255 255 / 0.4);
}
