.container {
    display: flex;
    flex-direction: column;
    /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
    flex-wrap: wrap;

    width: 100%;
    min-width: 400px;

    color: #ffffff;
    align-items: center;
}

.list {
    display: flex;
    flex-direction: row;
    /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
    flex-wrap: wrap;
    flex-grow: 1;
    width: 100%;
    min-width: 400px;

    color: #ffffff;
}
